[training_data]
location=./Data
classes=cat,horse,squirrel
split_ratio = 0.8
orientations=orientations.txt

[architecture]
hidden_layers=96,96,96
# hold 128,128,128
sample_size = 96
# hold 96

[hyperparameters]
num_iters = 600
# hold 600       
learning_rate = 0.00001
# hold 0.00001
l2_reg = 0.0005       
# hold 0.0005
