[training_data]
location=./Data
classes=cat,horse,squirrel
split_ratio = 0.8
orientations=orientations.txt

[architecture]
hidden_layers=128,128,128
# hold 128,128,128
sample_size = 64
# hold 64

[hyperparameters]
num_iters = 1500
# hold 1100       
learning_rate = 0.00001
# hold 0.00001
l2_reg = 0.00001        
# hold 0.00001
